In [1]:
import pandas as pd # Import necessary packages
import numpy as np
import datetime as dt
import scipy as scp

In [2]:
df = pd.read_csv('sampled_flights_total.csv') # Read our flights dataset into a DF

C:\Users\Kristopher\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3145: DtypeWarning: Columns (25) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
df = df.drop(['no_name'], axis=1) # Drop the no_name column with no information

In [4]:
df['dep_delay'].replace('', np.nan, inplace=True) # Replacing nan values with '' in dep_delay
df['dep_delay'].isna().mean()

0.01677820435172162

In [5]:
df['arr_delay'].replace('', np.nan, inplace=True) # Replacing nan values with '' in arr_delay
df['arr_delay'].isna().mean()

0.019762442249841077

In [6]:
print(df['dep_time'].isnull().sum() * 100 / len(df), df['arr_time'].isnull().sum() * 100 / len(df)) # Checking how much % of values in delay are NaN

1.646836817947473 1.7492979883173243

In [7]:
df.dropna(subset=['dep_delay'], inplace=True) # Dropping in place if continue Na

In [8]:
df.dropna(subset=['arr_delay'], inplace=True) # Dropping in place if continue Na

In [9]:
print(df['dep_time'].isnull().sum() * 100 / len(df), df['arr_time'].isnull().sum() * 100 / len(df)) # Checking new amount - essentially negligble

0.00010215688948616618 0.00010215688948616618

In [10]:
df['total_delay'] = df['dep_delay'] - df['arr_delay'] # New column that's the difference between departure delay, and arrival delay, to get total delay at end of flight

In [11]:
df['taxi_time'] = pd.cut(df['dep_time'], [0,600,1200,1800,2400], labels=['early_morning', 'morning', 'afternoon', 'evening'])

In [20]:
taxi_out = round(df.groupby(['taxi_time'])[['taxi_out']].mean(),2)

In [21]:
taxi_out

               taxi_out
taxi_time
early_morning     15.89
morning           17.89
afternoon         17.21
evening           17.81

In [22]:
taxi_in = round(df.groupby(['taxi_time'])[['taxi_in']].mean(),2)

In [23]:
taxi_in

               taxi_in
taxi_time
early_morning     8.40
morning           7.76
afternoon         7.72
evening           7.37